<div class="site-container">

  <div class="card">
	<div class="top flex1">
		<img src="../../../assets/img/profile.jpg" class="profilepic">
		<h1 class="name">Hi, I'm Sebastian Ramirez Software engineer</h1>
	</div>
	<div class="flex1 content">
		<p>I have experience using frontend framework such as Angular, with knowledge in several languages like NodeJs, Python, TypeScript and JavaScript</p>
		<p class="quote"><b>
			<img src="../../../assets/svg/execute.svg" class="imgexec">
			<span style="color:#a6a627;">System</span>
			<span style="color:white;">.<span style="color:#c9888e;">out</span>.</span><span style="color:#bccfde;">println</span>
			<span style="color:#a6a627;">("</span>
			<span style="color:#a2c4e0;">Hello world!</span>
			<span style="color:#a6a627;">")</span>
		</b></p>
	</div>
	<p class="contact"><b>Contact: </b>sebasramirezd1&#64;gmail.com</p>
	<ul class="">
		<li>
			<a class="linkedin" href="#">
			<span></span>
			<span></span>
			<span></span>
			<span></span>
			<img src="../../../assets/svg/linkedin.svg" class="imgicon">
			</a>
		</li>
		<li>
			<a class="github" href="#">
			<span></span>
			<span></span>
			<span></span>
			<span></span>
			<img src="../../../assets/svg/github.svg" class="imgicon">
			</a>
		</li>
		<li>
			<a class="cv" href="#">
			<span></span>
			<span></span>
			<span></span>
			<span></span>
			<img src="../../../assets/svg/cv.svg" class="imgicon">
			</a>
		</li>
	</ul>
  </div>

</div>