<div class="site-container">

  <div class="card">
	<img src="../../../assets/img/profile.jpg" class="profilepic">
	<h1 class="bradley">Hi, I'm Sebastian Ramirez Software engineer</h1>
    <p class="free-mono">I have experience using frontend framework such as Angular, with knowledge in several languages like NodeJs, Python</p>
	<p class="free-mono">Contact: sebasramirezd1&#64;gmail.com</p>
	<ul>
		<li>
			<a class="linkedin" href="#">
			<span></span>
			<span></span>
			<span></span>
			<span></span>
			<img src="../../../assets/svg/linkedin.svg" class="imgicon">
			</a>
		</li>
		<li>
			<a class="github" href="#">
			<span></span>
			<span></span>
			<span></span>
			<span></span>
			<img src="../../../assets/svg/github.svg" class="imgicon">
			</a>
		</li>
		<li>
			<a class="cv" href="#">
			<span></span>
			<span></span>
			<span></span>
			<span></span>
			<img src="../../../assets/svg/cv.svg" class="imgicon">
			</a>
		</li>
	</ul>
  </div>

</div>