<div class="site-container">
  <div class="card">
	<h1 class="bradley">My skills</h1>
	<div class="skills">
		<img src="../../../assets/svg/angular.svg" class="imgicon">
		<img src="../../../assets/svg/css.svg" class="imgicon">
		<img src="../../../assets/svg/html.svg" class="imgicon">
		<img src="../../../assets/svg/cypress.svg" class="imgicon">
		<img src="../../../assets/svg/python.svg" class="imgicon">
		<img src="../../../assets/svg/js.svg" class="imgicon">
		<img src="../../../assets/svg/ts.svg" class="imgicon">
		<img src="../../../assets/svg/mongo.svg" class="imgicon">
		<img src="../../../assets/svg/react.svg" class="imgicon">
		<img src="../../../assets/svg/sql.svg" class="imgicon">
		<img src="../../../assets/svg/node.svg" class="imgicon">
		<img src="../../../assets/svg/terraform.svg" class="imgicon">
		<img src="../../../assets/svg/firebase.svg" class="imgicon">
		<img src="../../../assets/svg/gcf.svg" class="imgicon">
	</div>
  </div>
  <div class="card">
	<h1 class="bradley">My job</h1>
    <p class="free-mono">I am a frontend developer living in Ecuador with experience in front with tools such as Angular, Django and Vue</p>
	<p class="free-mono">Contact: sebasramirezd1&#64;gmail.com</p>
  </div>

</div>