<div class="site-container">
  <div class="card">
	<h1 class="bradley">My skills</h1>
	<div class="skills">
		<img src="../../../assets/svg/angular.svg" class="imgicon">
		<img src="../../../assets/svg/css.svg" class="imgicon">
		<img src="../../../assets/svg/html.svg" class="imgicon">
		<img src="../../../assets/svg/cypress.svg" class="imgicon">
		<img src="../../../assets/svg/python.svg" class="imgicon">
		<img src="../../../assets/svg/js.svg" class="imgicon">
		<img src="../../../assets/svg/ts.svg" class="imgicon">
		<img src="../../../assets/svg/mongo.svg" class="imgicon">
		<img src="../../../assets/svg/react.svg" class="imgicon">
		<img src="../../../assets/svg/sql.svg" class="imgicon">
		<img src="../../../assets/svg/node.svg" class="imgicon">
		<img src="../../../assets/svg/terraform.svg" class="imgicon">
		<img src="../../../assets/svg/firebase.svg" class="imgicon">
		<img src="../../../assets/svg/gcf.svg" class="imgicon">
	</div>
  </div>
  <div class="card">
	<h1 class="">My job</h1>
    <p class="">Here you can take a look some of CSS designs and pages that I did just for fun</p>
	<div class="frame">
		<button class="custom-btn btn-bt"><span>My CSS</span><img src="../../../assets/svg/arrow.svg" class="btnicon"></button>
		<button class="custom-btn btn-bt"><span>My pages</span><img src="../../../assets/svg/arrow.svg" class="btnicon"></button>
	</div>
  </div>

</div>